@import '../../../assets/scss/master.scss';

main {
  display: flex;
  justify-content: space-between;
  padding: 0 space(8);
  width: 100%;
  height: calc(100vh - 96px);
  text-align: center;
}

.main {

  .main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: inherit;
    padding: space(12) 0;

    .temperature-out {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(3);

      .temperature-out-title {
        font-size: 1.6em;
        font-weight: bold;
      }

      .temperature-out-data {
        font-size: 2em;
        font-weight: bold;
        font-family: $font-secondary;
      }
    }

    .light-out {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(3);

      .light-out-title {
        font-size: 1.6em;
        font-weight: bold;
      }

      .light-out-data {
        font-size: 2em;
        font-weight: bold;
        font-family: $font-secondary;
      }
    }

    .temperature-climatisation {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(3);

      .temperature-climatisation-title {
        font-size: 1.6em;
        font-weight: bold;
      }

      .temperature-climatisation-auto-disabled {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: space(2);

        i {
          position: relative;
          top: 3px;
          font-size: 2em;
          font-weight: bolder;
          color: #E8EDDF;

          &:hover {
            cursor: pointer;
            color: #75D6FF;
          }
        }
      }

      .temperature-climatisation-data {
        font-size: 2em;
        font-weight: bold;
        font-family: $font-secondary;
      }
    }
  }

  .main-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: inherit;
    padding: space(12) 0;

    .electricity-saved {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(3);

      .electricity-saved-title {
        font-size: 1.6em;
        font-weight: bold;
      }

      .electricity-saved-data {
        display: flex;
        align-items: center;
        gap: space(2);
        font-size: 2em;
        font-weight: bold;
        font-family: $font-secondary;

        i {
          font-size: 1.6em;
          color: #53ff1f;
        }
      }
    }

    .money-saved {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(3);

      .money-saved-title {
        font-size: 1.6em;
        font-weight: bold;
      }

      .money-saved-data {
        display: flex;
        align-items: center;
        gap: space(2);
        font-size: 2em;
        font-weight: bold;
        font-family: $font-secondary;

        i {
          font-size: 1.6em;
          color: #53ff1f;
        }
      }
    }
  }

  .main-right {
    display: flex;
    justify-content: center;
    min-height: inherit;
    padding: space(12) 0;

    .temperature-history {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: space(3);

      .temperature-history-title {
        font-size: 1.6em;
        font-weight: bold;
      }

      .temperature-history-data {
        background-color: $white;
        padding: space(4);
        border: 3px solid #E8EDDF;
        border-radius: 4px;
      }
    }
  }
}

