<main class="main">

  <div class="main-left">

    <div class="temperature-out">
      <h3 class="temperature-out-title">Température actuelle</h3>

      <h3 class="temperature-out-data">{{ this.temperatureOut }}°C</h3>
    </div>

    <div class="light-out">
      <h3 class="light-out-title">Luminosité actuelle</h3>

      <h3 class="light-out-data">
        <img *ngIf="!this.lightOut" src="../../../assets/images/lightbulb-disabled.png" alt="auto-disabled">
        <img *ngIf="this.lightOut" src="../../../assets/images/lightbulb-enabled.png" alt="auto-enable">
      </h3>
    </div>

    <div class="temperature-climatisation">
      <h3 class="temperature-climatisation-title">Température climatisation</h3>

      <div *ngIf="!this.auto" class="temperature-climatisation-auto-disabled">
        <i class="ri-subtract-line" (click)="this.minusTemperature()"></i>
        <h3 class="temperature-climatisation-data">{{ this.temperatureClimatisation }}°C</h3>
        <i class="ri-add-line" (click)="this.plusTemperature()"></i>
      </div>

      <div *ngIf="this.auto" class="temperature-climatisation-auto-enabled">
        <h3 class="temperature-climatisation-data">{{ this.temperatureClimatisation }}°C</h3>
      </div>


    </div>

  </div>

  <div class="main-center">

    <div class="electricity-saved">

      <div class="electricity-saved-title">
        Électricité économisé
      </div>

      <div class="electricity-saved-data">
        <span>947KWh/an</span> <i class="ri-funds-fill"></i>
      </div>

    </div>

    <div class="money-saved">

      <div class="money-saved-title">
        Argent économisé
      </div>

      <div class="money-saved-data">
        <span>92€/an</span> <i class="ri-funds-fill"></i>
      </div>

    </div>

  </div>

  <div class="main-right">

    <div class="temperature-history">

      <h3 class="temperature-history-title">Historique des températures</h3>

      <div class="temperature-history-data" style="display: block">
        <canvas baseChart width="450" height="300"
          [datasets]="temperatureHistoryData"
          [labels]="temperatureHistoryLabels"
          [options]="temperatureHistoryOptions"
          [legend]="temperatureHistoryLegends"
          [type]="'line'"
        ></canvas>
      </div>
    </div>

  </div>

</main>
