@import '../../../assets/scss/master.scss';

header {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  display: flex;
  align-items: center;
  min-height: 100%;
  background-color: #242423;
  padding: space(1) 0;
  border-bottom: 3px solid #75D6FF;

  .left {
    display: flex;
    align-items: center;
    flex: 1;

    img {
      max-width: 112px;
    }
  }

  .center {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;

    .frozen-title {
      font-size: 2.5em;
      font-weight: bold;
      color: #75D6FF;
    }
  }

  .right {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    padding-right: space(2);
    gap: space(1);

    .right-auto-disabled {
      font-size: 1.2em;
      font-weight: bold;
      color: #E8EDDF;
    }

    .right-auto-enabled {
      font-size: 1.2em;
      font-weight: bold;
      color: #75D6FF;
    }

    img {
      max-width: 112px;
    }
  }
}
